html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.tree-node {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 20px 20px;
}

.node-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    height: 50px;
    background-color: #d3d3d3;
    border-radius: 5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
}

.tree-children {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    position: relative;
}

